<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rama.dengerinaja">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.rama.dengerinaja.DengerinApp"
        android:allowBackup="true"
        android:icon="@drawable/music"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DengerinAja">
        <activity
            android:name="com.rama.dengerinaja.NoPermissionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <service
            android:name=".playback.PlaybackService"
            android:enabled="true" />
    </application>

</manifest>